# `turbo prune --scope=<scope>` stuff
out/
**/build
# ignore .github/
# We include .git because yarn can use it to increse the cache
.github/
# ignore all .gitignore files
**/.gitignore
**/.turbo

# no need for .vscode
.vscode

*.md

# https://nodejs.org/en/docs/guides/nodejs-docker-webapp/#dockerignore-file
**/node_modules
npm-debug.log

.dockerignore

# Netlify
**/.netlify
netlify.toml

# Other stuff
renovate.json 
.turbo